@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'YoungSerifRegular';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: hsl(30, 54%, 90%);
    font-family: Outfit;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

ul,ol {
    padding-inline-start:25px;
}
li{
    line-height: 30px;
}
.preparation ul li::marker{
    color: hsl(332, 51%, 32%);
}
li::marker{
    color: hsl(14, 45%, 36%);
}
.recipe{
    padding: 20px 30px;
}

h2{
    color: hsl(14, 45%, 36%);
    font-family: YoungSerifRegular;
    font-weight: 200;
    font-size: 2rem;
    margin: 20px 0px;
}

.preparation h2{
    font-family: Outfit;
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(332, 51%, 32%);
    margin-bottom: 15px 0px;
}
.items{
    margin: 20px 0px;
}
.preparation{
    margin:25px 0px;
    padding: 12px 30px 20px 30px; 
    background: hsl(330, 100%, 98%);
    border-radius: 15px;
}

main{
    background: white;
}

h1{
    font-family: YoungSerifRegular;
    font-weight: 200;
    line-height: 35px;
    color: black;
    margin: 0px 0px 20px 0px;
}

img{
    width: 100%;
}
table{
    margin: 10px 0px;
    width: 100%;
    border-collapse: collapse;
}


th,td{
    text-align: left;
    padding: 7px 10px 10px 30px;
}

tr{
    border-bottom: 1px solid black;
}

th{
    font-weight:400;
}

td{ 
    font-weight: 700;
    color: brown;
} 

@media(min-width:40rem){
    main{
        max-width: 50rem;
        margin: 5%;
        border-radius: 20px;
    }
    .header-img{
        padding: 30px;
    }
    img{
        border-radius: 20px;
    }
}