@font-face {
    font-family: 'WorkSans';
    src: url(assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'WorkSans';
    src: url(assets/fonts/WorkSans-VariableFont_wght.ttf);
    font-style: normal;
}
:root{
    --desktop-svg:url("assets/images/background-pattern-mobile.svg");
}

*{
    margin: 0;
    padding: 0;
}

body{
    height:100vh;
    display: flex;
    /* background-color: hsl(275, 100%, 97%); */
    flex-direction: column;
    font-family: WorkSans;
    font-size: 16px;
    background: 
    var(--desktop-svg) no-repeat center top / 100% 30%, 
    hsl(275, 100%, 97%) 0 0 no-repeat;
    background-size: contain , 100% 70% ;
}

main{
    max-width: 400px;
    width: 80%;
    background: hsl(0, 0%, 100%);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5%;
    box-shadow: 0px 0px 30px hsl(292, 16%, 49%);
}
h1{
    display: flex;
    align-items: center;
}
h1 .icon-star{
    width: 32px;
    height: 32px;
    background: url("assets/images/icon-star.svg") no-repeat center center;
    background-size: cover;
    float: inline-start;
    margin-right: 20px;
}

details{
    margin: 20px 0px;
}

details summary{
    width: 100%;
    list-style: none;
    cursor:pointer;
    display: flex;
    margin: 20px 0px;
    & p{
        font-weight: 700;
        width: 90%;
        padding-right: 5%;
    }
    & .icon{
        width: 32px;
        height: 32px;
        background: url("assets/images/icon-plus.svg") no-repeat center center;
        background-size: cover;
    }
}
details[open]{
    & summary .icon{
        background: url("assets/images/icon-minus.svg") no-repeat center center;
    }
}
@media(min-width:375px){
    :root{
        --desktop-svg:url("assets/images/background-pattern-desktop.svg");
    }
}